@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

body {
  font-family: "Raleway", sans-serif;
  margin: auto;
  max-width: 500px;
  text-align: center;
}
select {
  margin-left: 20px;
}
#proceed-btn {
  align-self: center;
}
#choose-category-form {
  margin: auto;
  max-width: 500px;
  max-height: 500px;
  padding: 25px;

  border-radius: 10px;
  box-shadow: 20px;
  background-color: aliceblue;
}
.choosediv {
  margin: 20px;
  padding: 20px;
  border: 2px groove black;
  border-radius: 15px;
}

.buttonback {
  background-color: gainsboro;
  color: blue;
  width: 100px;
  height: 50px;
  font-size: large;
  border-radius: 15px;
  margin-right: 20px;
}
.buttonsubmit {
  width: 100px;
  height: 50px;
  background-color: gainsboro;
  color: blue;
  font-size: large;
  border-radius: 15px;
}
.buttonsdiv {
  display: flex;
  justify-content: center;
}
.resultdiv {
  text-align: right;
  color: green;
}
.border-green {
  margin: 20px;
  padding: 20px;
  border: 2px groove rgb(161, 219, 161);
  border-radius: 15px;
}
.border-red {
  margin: 20px;
  padding: 20px;
  border: 2px groove red;
  border-radius: 15px;
}
.border-orange {
  margin: 20px;
  padding: 20px;
  border: 2px groove orange;
  border-radius: 15px;
}
.green {
  color: rgb(72, 196, 72);
}
.red {
  color: red;
}
.orange {
  color: orange;
}
